/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .grid > div, .grid-element {
  color: white;
  margin: 5px;
  font-size: 35px;
  background-color: blue;
  padding: 8px 18px;
  border-radius: 10px;
}

.grid-element {
  width: fit-content;
}

.grid {
  display: flex;
 }

.output-field {
  color: white;
  margin: 5px;
  font-size: 35px;
  padding: 8px 18px;
  border-radius: 10px;
  width: fit-content;
}

.green {
  background-color: rgb(19, 186, 4);
}

.red {
  background-color: rgb(255, 0, 0);
}
